@{
    ViewData["Title"] = "Beef";
}

<link rel="stylesheet" href="~/css/site2.css" />

<h3><a href="https://localhost:44367/Home/Home" style="color:black;"><b>Go back to offers</b></a></h3>
<br />
<br />

<div id="nav">
    <ul id="header">
        <li><a href="https://localhost:44367/Home/Meat">Pork</a></li>
        <li><a class="active" href="https://localhost:44367/Home/Beef"><b>Beef</b></a></li>
        <li><a href="https://localhost:44367/Home/Chicken">Chicken</a></li>
    </ul>
</div>

<br />
<br />

<h1><b>Meat Products</b></h1>
<h2><b>Beef</b></h2>

<br />
<br />

<div class="container">

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/poultry/chuck.jpg" alt="" />
            <p>
                <b>Chuck</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;429.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/rib.jpg" alt="" />
            <p>
                <b>Rib</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;364.75/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/sirloinbeef.png" alt="" />
            <p>
                <b>Sirloin</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;355.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
    </div><br /><br />

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/poultry/brisket.png" alt="" />
            <p>
                <b>Brisket</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;460.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/shortloin.jpg" alt="" />
            <p>
                <b>Loin</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;824.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/flank.jpg" alt="" />
            <p>
                <b>Flank</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;570.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
    </div><br /><br />

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/poultry/plate.jpg" alt="" />
            <p>
                <b>Plate</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;600.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/round.jpg" alt="" />
            <p>
                <b>Round</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;824.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
    </div>

</div>