@{
    ViewData["Title"] = "Chicken";
}

<link rel="stylesheet" href="~/css/site2.css" />

<h3><a href="https://localhost:44367/Home/Home" style="color:black;"><b>Go back to offers</b></a></h3>
<br />
<br />

<div id="nav">
    <ul id="header">
        <li><a href="https://localhost:44367/Home/Meat">Pork</a></li>
        <li><a href="https://localhost:44367/Home/Beef">Beef</a></li>
        <li><a class="active" href="https://localhost:44367/Home/Chicken"><b>Chicken</b></a></li>
    </ul>
</div>

<br />
<br />

<h1><b>Meat Products</b></h1>
<h2><b>Chicken</b></h2>

<br />
<br />

<div class="container">

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/poultry/wholechicken.png" alt="" />
            <p>
                <b>Whole Chicken</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;185.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/drumsticks.png" alt="" />
            <p>
                <b>Drumsticks</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;195.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/minced.png" alt="" />
            <p>
                <b>Minced</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;201.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
    </div><br /><br />

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/poultry/breast.png" alt="" />
            <p>
                <b>Breast</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;202.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/wings.png" alt="" />
            <p>
                <b>Wings</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;250.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/thighs.png" alt="" />
            <p>
                <b>Thighs</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;285.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
    </div><br /><br />

</div>

