@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-3">
        <span style="color: #ebe2e1; margin-right: 20px;">Poul</span>
        <span style="color: #453835; margin-left: -30px; margin-right: 20px;">Site</span>
    </h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="text-lg-center">
            <br />
            <br />
            <br />
            <h1><strong><i>All About Us</i></strong></h1>
            <br />
            <p>We want to show our care by providing you comfort in</p>
            <p>your home as you do the meal for your loved ones.</p>
            <p>Order easily and faster without having to wait in the line!</p>
        </div>
        <br />
        <div class="form-group text-lg-center">
            <button type="submit" id="button1" class="btn btn-sm" asp-controller="Identity" asp-action="~/Account/Login">LOG IN</button>
            <button type="submit" id="button2" class="btn btn-sm" asp-controller="Identity" asp-action="~/Account/Register">REGISTER</button>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>
