@{ ViewData["Title"] = "Meat"; }

<link rel="stylesheet" href="~/css/site2.css" />

<h3><a href="https://localhost:44367/Home/Home" style="color:black;"><b>Go back to offers</b></a></h3>
<br />
<br />

<div id="nav">
    <ul id="header">
        <li><a class="active" href="https://localhost:44367/Home/Meat"><b>Pork</b></a></li>
        <li><a href="https://localhost:44367/Home/Beef">Beef</a></li>
        <li><a href="https://localhost:44367/Home/Chicken">Chicken</a></li>
    </ul>
</div>

<br />
<br />

<h1><b>Meat Products</b></h1>
<h2><b>Pork</b></h2>

<br />
<br />

<div class="container">

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/poultry/spareribsraw.jpg" alt="" />
            <p>
                <b>Spare Ribs</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;499.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/neckpork.jpg" alt="" />
            <p>
                <b>Neck</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;589.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/sirloinpork.jpg" alt="" />
            <p>
                <b>Sirloin</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;929.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
    </div><br /><br />

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/poultry/porkbelly.jpg" alt="" />
            <p>
                <b>Belly</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;220.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/porkjowl.jpg" alt="" />
            <p>
                <b>Jowl</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;160.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/loinpork.jpg" alt="" />
            <p>
                <b>Loin</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;569.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
    </div><br /><br />

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/poultry/shouldepork.jpg" alt="" />
            <p>
                <b>Blade Shoulder</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;414.50/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/ham.png" alt="" />
            <p>
                <b>Ham</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;200.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/phock.png" alt="" />
            <p>
                <b>Hock</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;363.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
    </div>

</div>