@{
    ViewData["Title"] = "Seafoods";
}

<link rel="stylesheet" href="~/css/site2.css" />

<h3><a href="https://localhost:44367/Home/Home" style="color:black;"><b>Go back to offers</b></a></h3>
<br />
<br />


<div id="nav">
    <ul id="header">
        <li><a class="active" href="https://localhost:44367/Home/Seafoods"><b>Fish</b></a></li>
        <li><a href="https://localhost:44367/Home/Shellfish">Shellfish</a></li>
    </ul>
</div>

<br />
<br />

<h1><b>Seafood Products</b></h1>
<h2><b>Fish</b></h2>

<br />
<br />

<div class="container">

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/poultry/tuna.png" alt="" />
            <p>
                <b>Tuna</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;280.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/salmon.png" alt="" />
            <p>
                <b>Salmon</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;340.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/bluemarlin.png" />
            <p>
                <b>Blue Marlin</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;800.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
    </div><br /><br />

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/poultry/milkfish.jpg" alt="" />
            <p>
                <b>Milk Fish</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;160.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/roundscad.png" />
            <p>
                <b>Round Scad</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;129.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/tilapia.png" alt="" />
            <p>
                <b>Tilapia</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;120.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
    </div><br /><br />

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/poultry/mackerel.png" alt="" />
            <p>
                <b>Mackerel</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;167.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/lapu-lapu.jpg" alt="" />
            <p>
                <b>Lapu-Lapu</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;728.75/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
    </div>

</div>