@{
    ViewData["Title"] = "Shellfish";
}

<link rel="stylesheet" href="~/css/site2.css" />

<h3><a href="https://localhost:44367/Home/Home" style="color:black;"><b>Go back to offers</b></a></h3>
<br />
<br />


<div id="nav">
    <ul id="header">
        <li><a href="https://localhost:44367/Home/Seafoods">Fish</a></li>
        <li><a class="active" href="https://localhost:44367/Home/Shellfish"><b>Shellfish</b></a></li>
    </ul>
</div>

<br />
<br />

<h1><b>Seafood Products</b></h1>
<h2><b>Shellfish</b></h2>

<br />
<br />

<div class="container">

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/poultry/crabs.jpg" alt="" />
            <p>
                <b>Crabs (Male)</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;489.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/clams.png" alt="" />
            <p>
                <b>Clams</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;250.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/scallops.png" alt="" />
            <p>
                <b>Scallops</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;250.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
    </div><br /><br />

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/poultry/lobster.png" alt="" />
            <p>
                <b>Lobster</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;250.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/oyster.png" alt="" />
            <p>
                <b>Oyster</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;100.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/octopus.png" alt="" />
            <p>
                <b>Octopus</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;630.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
    </div><br /><br />

    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="~/css/poultry/shrimp.jpg" alt="" />
            <p>
                <b>Shrimp</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;550.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
        <div class="col-md-4">
            <img src="~/css/poultry/mussels.png" alt="" />
            <p>
                <b>Mussels</b> <br />
                &nbsp;&nbsp;&nbsp;&nbsp; &#8369;150.00/kg
            </p>
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn">Add to my cart</button>
        </div>
    </div>

</div>

